# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints

# Data & models
/data/processed/
/models/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Docker
docker-compose.override.yml
*.tar
